{% load static %}
<!DOCTYPE html>
<html lang="{% if lang == 'en' %}en{% else %}ar{% endif %}"
      dir="{% if lang == 'en' %}ltr{% else %}rtl{% endif %}"
      data-theme="{{ theme|default:'light' }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if lang == 'en' %}Darb Al-Asala{% else %}درب الأصالة{% endif %}
  </title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700&display=swap" rel="stylesheet">

  <link href="static/style.css" rel="stylesheet">


  <!-- Bootstrap -->
  {% if lang == 'en' %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  {% else %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" rel="stylesheet">
  {% endif %}


</head>


<body>

<!-- NAVBAR -->
<div class="topbar">

  <!-- Logo -->
  <div>
    🌿 {% if lang == 'en' %}Darb Al-Asala{% else %}درب الأصالة{% endif %}
  </div>

  <!-- Controls -->
  <div style="display:flex; gap:10px;">

    <!-- Theme -->
    {% if theme == 'dark' %}
      <a href="?theme=light" class="btn btn-sm btn-outline-secondary">☀️</a>
    {% else %}
      <a href="?theme=dark" class="btn btn-sm btn-outline-secondary">🌙</a>
    {% endif %}

    <!-- Language -->
    {% if lang == 'en' %}
      <a href="?lang=ar" class="btn btn-sm btn-outline-primary">العربية</a>
    {% else %}
      <a href="?lang=en" class="btn btn-sm btn-outline-primary">English</a>
    {% endif %}

  </div>

</div>

<!-- HERO -->
<section class="hero">

  <h1 class="hero-title">
    {% if lang == 'en' %}
      Darb Al-Asala <br>
      <span>Explore Saudi Heritage</span>
    {% else %}
      درب الأصالة <br>
      <span>اكتشف تراث المملكة</span>
    {% endif %}
  </h1>

  <p class="hero-subtitle">
    {% if lang == 'en' %}
      An interactive journey through Saudi culture, traditions, and history.
    {% else %}
      رحلة تفاعلية لاكتشاف ثقافة وتراث المملكة العربية السعودية.
    {% endif %}
  </p>


  <div class = "khalid_character" > 

    <h1>
      Hi , i am khalid 

    {% if lang == 'en' %}


    {% else %}

    يامرحبا، انا خالد 

    </h1>


    <img src = " "> 


  </div>

</section>

</body>
</html>